# Dependencies
node_modules/

# Production Build Output
dist/
build/

# Local Environment Variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDEs and Editors
.vscode/
.idea/
.DS_Store
